ol.lst-kix_list_1-3 {
    list-style-type: none
}
ol.lst-kix_list_1-4 {
    list-style-type: none
}
ol.lst-kix_list_1-5 {
    list-style-type: none
}
ol.lst-kix_list_1-6 {
    list-style-type: none
}
ol.lst-kix_list_1-0 {
    list-style-type: none
}
.lst-kix_list_1-4>li {
    counter-increment: lst-ctn-kix_list_1-4
}
ol.lst-kix_list_1-1 {
    list-style-type: none
}
ol.lst-kix_list_1-2 {
    list-style-type: none
}
ol.lst-kix_list_1-6.start {
    counter-reset: lst-ctn-kix_list_1-6 0
}
.lst-kix_list_1-1>li {
    counter-increment: lst-ctn-kix_list_1-1
}
ol.lst-kix_list_1-3.start {
    counter-reset: lst-ctn-kix_list_1-3 0
}
ol.lst-kix_list_1-2.start {
    counter-reset: lst-ctn-kix_list_1-2 0
}
ol.lst-kix_list_1-8.start {
    counter-reset: lst-ctn-kix_list_1-8 0
}
.lst-kix_list_1-0>li:before {
    content: " "
}
ol.lst-kix_list_1-5.start {
    counter-reset: lst-ctn-kix_list_1-5 0
}
ol.lst-kix_list_1-7 {
    list-style-type: none
}
.lst-kix_list_1-1>li:before {
    content: " "
}
.lst-kix_list_1-2>li:before {
    content: " "
}
.lst-kix_list_1-7>li {
    counter-increment: lst-ctn-kix_list_1-7
}
ol.lst-kix_list_1-8 {
    list-style-type: none
}
.lst-kix_list_1-3>li:before {
    content: " "
}
.lst-kix_list_1-4>li:before {
    content: " "
}
ol.lst-kix_list_1-0.start {
    counter-reset: lst-ctn-kix_list_1-0 0
}
.lst-kix_list_1-0>li {
    counter-increment: lst-ctn-kix_list_1-0
}
.lst-kix_list_1-6>li {
    counter-increment: lst-ctn-kix_list_1-6
}
.lst-kix_list_1-7>li:before {
    content: " "
}
.lst-kix_list_1-3>li {
    counter-increment: lst-ctn-kix_list_1-3
}
.lst-kix_list_1-5>li:before {
    content: " "
}
.lst-kix_list_1-6>li:before {
    content: " "
}
ol.lst-kix_list_1-7.start {
    counter-reset: lst-ctn-kix_list_1-7 0
}
.lst-kix_list_1-2>li {
    counter-increment: lst-ctn-kix_list_1-2
}
.lst-kix_list_1-5>li {
    counter-increment: lst-ctn-kix_list_1-5
}
.lst-kix_list_1-8>li {
    counter-increment: lst-ctn-kix_list_1-8
}
ol.lst-kix_list_1-4.start {
    counter-reset: lst-ctn-kix_list_1-4 0
}
.lst-kix_list_1-8>li:before {
    content: " "
}
ol.lst-kix_list_1-1.start {
    counter-reset: lst-ctn-kix_list_1-1 0
}
ol {
    margin: 0;
    padding: 0
}
table td,
table th {
    padding: 0
}
.c26 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 219.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}
.c27 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 153pt;
    border-top-color: #000000;
    border-bottom-style: solid
}
.c33 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 93.3pt;
    border-top-color: #000000;
    border-bottom-style: solid
}
.c20 {
    padding-top: 14pt;
    padding-left: 3.6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
.c22 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}
.c16 {
    color: #000080;
    font-weight: 400;
    text-decoration: none;
    font-size: 18pt;
    font-family: "Times New Roman";
    font-style: normal
}
.c1 {
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 700
}
.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2
}
.c24 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}
.c3 {
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Times New Roman";
    font-weight: 400
}
.c4 {
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 700
}
.c6 {
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Noto Sans Symbols";
    font-weight: 400
}
.c12 {
    padding-top: 5pt;
    padding-bottom: 5pt;
    orphans: 2;
    widows: 2
}
.c28 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15
}
.c32 {
    color: #000000;
    text-decoration: none;
    font-style: normal
}
.c8 {
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 400
}
.c36 {
    text-decoration: none;
    font-family: "Arial";
    font-style: normal
}
.c15 {
    background-color: #ffffff;
    max-width: 432pt;
    padding: 72pt 90pt 72pt 90pt
}
.c2 {
    vertical-align: baseline;
    font-size: 6.5pt;
    font-family: "Verdana"
}
.c25 {
    padding: 0;
    margin: 0
}
.c13 {
    font-size: 10pt;
    font-family: "Times New Roman"
}
.c10 {
    color: inherit;
    text-decoration: inherit
}
.c29 {
    orphans: 2;
    widows: 2
}
.c17 {
    color: #0000ff;
    text-decoration: underline
}
.c14 {
    height: 0pt
}
.c7 {
    vertical-align: baseline
}
.c35 {
    line-height: 1.0
}
.c34 {
    font-size: 18pt
}
.c18 {
    height: 12pt
}
.c30 {
    font-weight: 400
}
.c9 {
    margin-left: 36pt
}
.c31 {
    color: #000080
}
.c23 {
    font-size: 10pt
}
.c21 {
    text-align: left
}
.c11 {
    font-weight: 700
}
.c19 {
    margin-left: 18pt
}
.c5 {
    font-style: italic
}
.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}
li {
    color: #000000;
    font-size: 12pt;
    font-family: "Times New Roman"
}
p {
    margin: 0;
    color: #000000;
    font-size: 12pt;
    font-family: "Times New Roman"
}
h1 {
    padding-top: 14pt;
    color: #006699;
    font-weight: 700;
    font-size: 20.5pt;
    padding-bottom: 14pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Times New Roman";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
