@import "bootstrap/assets/stylesheets/bootstrap";
@import "flex.scss";

$color-rust: #770e0b;
$color-lightBlue:#33a4c9;
$color-blue: #0f434c;
$color-charcoal:#222222;
$color-lightgray:#ddd;
// DEVICE LIST //
$xs-min: "only screen and (min-width:0px)";
$xs-max: "only screen and (max-width:520px)";
$xs-sm: "only screen and (max-width:767px)";
$sm-min: "only screen and (min-width:768px)";
$sm-max: "only screen and (max-width:991px)";
$sm-md: "screen and (min-width: 768px) and (max-width:991px)";
$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "screen and (min-width: 992px) and (max-width:1199px)";
$lg-min: "only screen and (min-width:1200px)";
$lg-max: "only screen ";



$small-screen: 320px;
$large-screen: 900px;
$middle-screen:750px;
@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

.whiteButton {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.whiteButton:hover {
    display: inline-block;
    padding: 5px 14px;
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 15px;
    color:white;
}

#loader1 {
    position:absolute;
    left:130px;
    top:50px;
    border-radius:20px;
    padding:25px;
    border:1px solid #777777;
    //background:#ffffff;
    //box-shadow:0px 0px 10px #777777;
    width:100px;
    height:100px;
}

@import "relentless.scss";
@import "fonts.scss";
@import "portfolio.scss";

body {
    font-family: "Droid";
}
ul {
    list-style-type: none;
}
/////////////////////////////////////////////

/*  Header */

header hgroup {
    ol,
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
    }
    h1 {
        color: #cecece;
        font-style: italic;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    }
}
.stuck {
    position: fixed;
    top: 0;
    z-index: 100;
}
/////////////////////////////////////////////
.sectionTitle:before {
    background-color: #33a4c9;
    border-radius: 25px;
    content: ' ';
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 50px;
}
.sectionTitle {
    //border-bottom: 1px solid #e1e1e1;
    padding: 0 0 0px 70px;
    margin: 50px 0;
    position: relative;
    @extend .sectionTitle-font;
}
/////////////////////////////////////
ul.jobSummary {
    padding: 0px;
    margin: 0 20px;
    li {
        padding: 0px;
        margin: 0px;
    }
    li:before {
        content: "\f101";
        /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        /* same as padding-left set on li */
        width: 1.3em;
        /* same as padding-left set on li */
    }
}
ul.job {
    padding: 0px;
    margin: 0px;
    >li {
        padding: 0px;
        margin: 15px 0px;
        >h4 {
            margin: 0;
            padding: 0;
            @extend .job-title-font
        }
    }
    ul li {
        padding: 0px;
        margin: 5px 5px;
    }
    ul li:before {
        content: "\f00c";
        /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        /* same as padding-left set on li */
        width: 1.3em;
        /* same as padding-left set on li */
    }
    ul {
        padding: 0px;
        margin: 0px;
        padding-left: 1.5em;
    }
}
#skillgraphWrapper-break {
    display: inline-block;
    position: relative;
    width: 100%;
}
#skillgraphWrapper-break:after {
    margin-left: 85px;
    content: '';
    position: absolute;
    height: 100%;
    @include calc(width, '100% - 85px + 15px');
    top: 0;
    left: 0;
    background: linear-gradient(to right, #000 2px, transparent 2px);
    background-size: 10%;
    background-color: rgba(255, 0, 0, 0.2);
}
#skillgraph {
    padding: 1em;
}
.skill-row-break {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}
$bar-height:.1.7em;
.skill-row {
    margin: 0 0 20px 0;
}
.skillLabel {
    float: left;
    width: 100%;
    color: black;
    @extend .skillLabel-font;
}
.skillData {
    line-height: $bar-height;
    height: $bar-height;
    width: .1em;
    float: left;
    color: white;
    @extend .text-center
}
.skillData-Wrapper {
    width: 100%;
    @extend .bg-lightgray;
    @extend .skillData;
}
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
html,
body {
    height: 100%;
    width: 100%;
}
.bg-charcoal {
    background-color: $color-charcoal;
}
.bg-blue {
    background-color: $color-blue;
}
.bg-rust {
    background-color: $color-lightBlue;
}
.bg-lightgray {
    background-color: #ddd;
}
a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
@media #{$sm-min} {
    .topHeaderPic {
        background: url("../img/worldwide-web.jpg") no-repeat top center fixed;
        background-size: cover;
        height: 230px;
        /*shows menu bar at bottom of screen for browsers that support calc */
        //@include calc(height,'100% - 44px');
        width: auto;
        margin: 0;
        padding: 0;
        color: black;
        text-align: center;
        background-size: 230px auto;
        background-position-x: 80%;
    }
}
#mePic {
    /* The background image */
    background-image: url("../img/me-ver1.jpg");
    /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}
#SeattlePic {
    background-image: url("../img/seattle-ver2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collapse {
    background-color: $color-lightBlue;
    z-index: 100;
    position: relative;
    a {
        background-color: $color-lightBlue;
    }
}

/*
      *  Styles For top menu and logo
      *********************************************************************
    */

div#topHeader {
    /*position: absolute;
    left: 0;
    top: 595px;*/
    width: 100%;
}
div#topHeader.affix {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px;
}

/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
#navbar-brand a {
    padding: 5px;
}
#navbar-brand img {
    width: 200px;
}
#myNavbar a:hover {
    background-color: gray;
}
@media #{$sm-min} {
    #navbar-brand img {
        width: 300px;
        margin-top: -10px;
    }
}
#myNavbar .navbar-right li a {
    color: white;
    font-weight: 600;
}
#myNavbar .navbar-right li.active a {
    color: white;
    background-color: $color-blue;
}
.navbar-default {
    background-color: $color-lightBlue;
    border: none;
    /*border-color: #e7e7e7; */
}
#kelly-menu {
    background-color: $color-lightBlue;
}

/*  Portfolio Grid */

.panel, .card
{
    box-shadow: 0px 0px 4px #777777;
}

/* Small devices (tablets, 768px and up) */

@media #{$sm-min} {
    .bottomRightShadow {
        //width: 350px;
        //height: 200px;
        border: solid 1px #555;
        background-color: #eed;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
        -o-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    }
}
// See more at: http: //www.corelangs.com/css/box/shadow.html#sthash.z8lfgsW9.dpuf
.grid--square .grid__item .grid__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
//required for shadding on bottom
.grid--square {
    padding-bottom: 30px;
}
.grid {
    overflow: hidden;
}
.grid .grid__item {
    background-repeat: no-repeat;
    background-size: 100%;
    @include transition(background-position 450ms ease);
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../img/kellywebbutton.png);
    background-position: 50% 50%;
    @extend .bottomRightShadow;
}
.grid__item--zoom .grid__overlay__content {
    //-webkit-transform-origin: left;
    //transform-origin: left;
}
.grid .grid__overlay .grid__overlay__content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.grid .grid__overlay {
    align-items: center;
    background-color: rgba(255, 0, 168, 0.85);
    color: white;
    opacity: 0;
    position: relative;
    text-align: left;
    @include transition(all 450ms ease);
    padding: 5%;
}
.grid__item:hover {
    background-position: 30px 30px;
}
.grid .grid__overlay:hover {
    opacity: .95;
    width: 100%;
    height: 100%;
}
.grid .grid__overlay .grid__overlay__content:hover {
    opacity: 1;
}
footer {
    section {
        font-size: 1.2em;
    }
}
ul.alerts {
    list-style-type: circle;
}
